.waitCont {
    position: relative;
    width: 100%;
    height: 100%;
}

.waitElementCont {
    width: 100%;
    height: 100%;
}

.waitSpinnerCont {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 200;
}

.waitSpinnerCont:first-child {
    transform: scale(0.75);
}

.waitImageCont {
    z-index: 100;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.waitImageCont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}