.landingPageNews_header_cont {
    position: relative;
    width: 100%;
    height: 362px;
}

.landingPageNews_header_bgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landingPageNews_header_text_cont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 55rem;
    max-width: 100%;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.landingPageNews_header_title {
    font-size: 60px;
    font-family: var(--landing-font-familiy-1);
    color: var(--landing-color-8);
    margin-top: 40px;
    margin-bottom: 40px;
}

@media only screen and (orientation: portrait) { 

    .landingPageNews_header_cont {
        height: 25vh;
    }

    .landingPageNews_header_title {
        font-size: 2.25rem;
    }
}