.buyActivityPopUpCont {
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
    width: 15rem;
    max-width: 100%;
    height: 5rem;
    border: 1px solid var(--color-borders-light-gray);
    background-color: var(--bg-white);
    opacity: 0;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1700;
}

@keyframes buyActivityPopUpCont {
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.buyActivityPopUpImg {
    height: 100%;
    width: 25%;
    object-fit: contain;
}

.buyActivityPopUpTextCont {
    width: 75%;
    height: 100%;
    align-items: flex-start;
    padding: 0.5rem;
}

.buyActivityPopUpTextCont p {
    text-align: left;
}

.buyActivityPopUpTextBold {
    font-family: var(--font-style-bold);
    margin-bottom: 0.25rem;
}

.buyActivityPopUpTextCity {
    text-transform: capitalize;
}

@media only screen and (orientation: portrait) {
    .buyActivityPopUpCont {
        height: 6rem;
        left: 0;
        bottom: 0.5rem;
        right: 0;
        margin: auto;
        width: 15rem;
        max-width: 100%;
    }
}