.revoveryPassword_container {
    justify-content: flex-start;
}

.revoveryPassword_container h1 {
    font-size: 60px;
    font-family: var(--font-style-light);
}

.revoveryPassword_container h2 {
    text-transform: uppercase;
    font-size: var(--font-size-large);
    font-family: var(--font-style-bold);
    margin-top: 0.5rem;
}

.revoveryPassword_container h3 {
    margin-top: 0.5rem;
    color: var(--text-gray-color-2);
}

.revoveryPassword_container input {
    margin-top: 3rem;
    border: 1px solid var(--color-borders-light-gray);
    border-radius: 10px;
    width: 15rem;
    height: 3rem;
    text-align: left;
    padding: 0 0.75rem;
}

.revoveryPassword_container input::placeholder {
    color: var(--text-gray-color-2);
}

.revoveryPassword_container button {
    width: 10rem;
}