.productDetailModal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.productDetailModal_content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    border-radius: 8px;
}

/* Ensure the modal content takes full space on mobile */
@media (max-width: 768px) {
    .productDetailModal_overlay {
        padding: 0;
    }
    
    .productDetailModal_content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
