.contMenu {
    position: fixed;
    width: 100vw;                                   /* 100vw para que al sacar el scroll del body el navbar no se mueva */
    height: var(--navbar-height);
    top: 0;
    left: 0;
    z-index: 1000;
    --options-padding: 0.65rem;
    background-color: white;
    justify-content: center;
    padding-right: 17px;                            /* Ancho del scroll ya que el menu tiene width 100vw */
    box-shadow: 0px 7px 28px -11px rgba(0, 0, 0, 0.075);
}

.contMenu_menuHidden {                              /* Estilos para cuando el menu esta oculto (en celus portrait por ejemplo) */
    padding-left: 2rem;
    padding-right: 3rem;
    justify-content: flex-end;
}

.tapaMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 250;
    pointer-events: none;
}

.menu {
    height: 100%;
    justify-content: space-between;
    width: 100%;
    max-width: var(--seccions-landscape-content-width);
    padding-left: 1rem;
    padding-right: 1rem;
}

.menuOptionsCont {
    height: 100%;
}

.opcion {
    font-size: var(--navbar-font-size);
    font-family: var(--navbar-font-family);
    height: 100%;
    padding: 0 var(--options-padding);
    color: var(--text-dark-color);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    width: max-content;
    cursor: pointer;
}

.navBarContLogo {
    height: 100%;
    margin-right: 2rem;
}

.navBarContLogo_left {
    position: absolute;
    left: 1rem;
}

.navBarLogo {
    height: 50%;
}

.iconoMenu {
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    right: 1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    cursor: pointer;
    z-index: 150;
}

.navBarNetWorkIcons {
    height: 11%;
    margin: 0 var(--options-padding);
}

.navBarOptionColorOn {
    color: var(--navbar-color-hover)
}


/******************************** Clases que se cargan dinamicamente desde el javascript del navbar al superar o bajar de ciertos REM ******************************************/

.iconoMenuON {
    display: flex;
}

.menuOFF {
    display: none;
}

.menuBaja, .menuSube {
    display: flex;
    position: fixed;
    width: max-content;
    top: 0;
    background-color: var(--navbar-color-portrait);
    right: 0;
    flex-direction: column;
    z-index: 190;
    height: 100vh;
    animation-duration: 0.45s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-left: 1px dotted var(--border-with-bg-dark);
    border-bottom: 1px dotted var(--border-with-bg-dark);
    justify-content: flex-start;
    margin-right: 0;
    overflow-y: auto;
    padding: 0;
}

.menuBaja {
    animation-name: menuBaja;
}

.menuBaja div:first-child {
    width: 100%;
}

.menuBaja .navBarContLogo{
    display: none;
}

@keyframes menuBaja {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.menuSube {
    animation-name: menuSube;
}

.menuSube div:first-child {
    width: 100%;
}

.menuSube .navBarContLogo{
    display: none;
}

@keyframes menuSube {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100% + 1px));   /* 1px es para que no se vea el borde izquierdo al cerrar el menu */
    }
}

.menuOptionsCont {
    height: 100%;
    min-width: 260px;
}

.opcion2 {
    height: 2.5rem;
    padding: 0.75rem 1rem !important;
    padding-right: 3rem !important;
    width: 100%;
    justify-content: flex-start;
    color: white;
    font-size: var(--font-size-normal);
    font-family: var(--font-style-book);
    border-bottom: 1px solid #4b4b4b;
}

.opcionMenuCont {
    position: relative;
    height: 2.5rem;
    padding: 0.75rem 1rem;
    padding-right: 3rem;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #4b4b4b;
    display: none;
}

.opcionMenuText {
    color: white;
    font-family: var(--font-style-bold);
    font-size: 18px;
    text-align: left;
}

.menuCloseIcon {
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: invert(100%);
    height: 25%;
    cursor: pointer;
}

/**************************************************************************/

.isProductDetailInSmartPhone_return * {
    font-size: var(--font-size-large);
    font-family: var(--font-style-medium);
}

.isProductDetailInSmartPhone_return span {
    margin-left: 0.25rem;
}

@media only screen and (orientation: portrait) {

    .navBarContLogo_left {
        position: absolute;
        left: 2rem;
    }
}