.dndOrderProducts_cards_cont {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.dndOrderProducts_card_cont {
    display: flex;
    flex-direction: column;
    width: 17rem;
    aspect-ratio: 11/13;
    position: relative;
    background-color: white !important;
    justify-content: flex-start;
    padding: 0.5rem;
}

.dndOrderProducts_card_position {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    font-size: 14px;
    background-color: rgb(95, 95, 95);
    color: white;
    min-width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    z-index: 10;
}

.dndOrderProducts_card_imgCont {
    width: 100%;
    height: 65%;
}

.dndOrderProducts_card_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dndOrderProducts_card_data_cont {
    height: 35%;
    justify-content: space-between;
}

.dndOrderProducts_card_description {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.dndOrderProducts_card_code {
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
}

.dndOrderProducts_pageIndexCont {
    width: 100%;
    height: 2rem;
    background-color: var(--color-web-1);
    color: white;
    margin-bottom: 0.5rem;
    cursor: pointer;
    justify-content: flex-start;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
}

.dndOrderProducts_pageIndexCont:hover {
   background-color: var(--color-web-sky);
}

.cardsPageHidden {
    display: none;
}

.dndOrderProducts_noRegistersText {
    width: 100%;
    height: 100%;
    text-align: center;
}