.finalizedPurchase_pageCont {
    justify-content: flex-start;
    padding: 0 var(--padding-horizontal-seccions-portrait);
    padding-bottom: 3rem;
}

.finalizedPurchase_title {
    font-size: 1.75rem;
    font-family: var(--font-style-light);
    margin-bottom: 0.75rem;
}

.finalizedPurchase_subTitle {
    font-size: var(--font-size-large);
    font-family: var(--font-style-bold);
    width: 100%;
    padding-bottom: 1.5rem;
}

.finalizedPurchase_text {
    color: var(--text-gray-color);
    width: 100%;
    padding-top: 1.5rem;
}

.finalizedPurchase_bankData {
    align-items: flex-start;
    padding: 1rem;
    max-width: 20rem;
}

.finalizedPurchase_bankData p {
    margin-bottom: 0.25rem;
    text-align: left;
}

.finalizedPurchase_line {
    border-top: 1px solid var(--color-borders-light-gray);
    width: 100%;
    margin: 1rem 0;
}

.finalizedPurchase_total {
    font-weight: bold;
}

.finalizedPurchase_total span {
    font-family: var(--font-style-bold);
    font-size: var(--font-size-large);
}

.finalizedPurchase_transferDataFromDB {
    white-space: pre-line;
}