.loginCont {
    width: var(--login-width);
    height: var(--login-height);
    box-shadow: 10px 10px 36px -25px rgba(0,0,0,0.25);
    background-color: rgb(251, 251, 251);
    border-radius: 1rem;
    align-items: flex-start;
    padding: 4rem;
    --transition-duration: 0.35s;
}

.loginCont * {
    text-align: left;
    font-size: var(--font-size-normal);
}

.loginTitle {
    font-size: 19px;
    text-transform: uppercase;
    font-family: var(--font-style-light);
}

.loginSubTitle {
    margin: 1rem 0;
    margin-bottom: 0.5rem;
    color: var(--text-gray-color-2);
    line-height: 1.6;
}

.loginInputCont {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.loginInputUserCont {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
    transition-property: transform;
}

.loginInputUserContTranslateY { 
    transform: translateY(-75%);
}

.loginUserIcon {
    height: 16px;
    margin-right: 0.5rem;
}

.loginInput {
    border: none;
    border-bottom: 1px solid var(--color-borders-light-gray);
    height: 1.5rem;
    width: 100%;
    background-color: rgb(251, 251, 251);
}

.loginInput:focus {
    outline: none;
}

.loginInputBorderBottomFocus {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-web-light-pink);
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
    transition-property: transform opacity;
}

.loginInputBorderBottomFocusOn {
    opacity: 1;
    transform: scaleX(1);
}

.loginInputText {
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
    transition-property: color;
    font-size: var(--font-size-small);
    font-family: var(--font-style-medium);
    color: var(--text-gray-color);
}

.loginInputTextColorOn {
    color: var(--color-web-light-pink);
}

.loginCheckBoxcont {
    margin-top: 2rem;
    cursor: pointer;
}

.loginCheckBox {
    position: relative;
    margin-right: 0.5rem;
    transform: scale(1.1);
    cursor: pointer;
}

.loginCheckBox:checked:before {
    content: "\2714";
    font-size: 7px;
    line-height: 1;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: var(--color-web-1);
    z-index: 10;
    pointer-events: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
}

.loginSendButtonCont {
    margin-top: 3rem;
}

.loginLostPassword {
    cursor: pointer;
}

.loginButton {
    --height: 1.75rem;
    background-color: var(--color-web-1);
    color: var(--text-light-color);
    height: var(--height);
    width: 7rem;
    border-radius: calc(var(--height) / 2);
    border-style: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-family: var(--font-style-bold);
    cursor: pointer;
    transition-duration: var(--transitions-icon-text-duration);
    transition-property: background-color;
    transition-timing-function: ease-out;
}

.loginButton:hover {
    background-color: var(--buttons-pinkToBlack-hover);
}

/************************ responseive 2ยบ sprint **************************/

.loginRegisterCont {
    display: none;
}

@media only screen and (orientation: portrait) {

    .loginCont {
        height: fit-content;
        padding: 2rem var(--padding-horizontal-seccions-portrait);
        }

    .loginInputCont {
        margin-top: 2.25rem;
    }

    .loginSendButtonCont {
        width: 100%;
        flex-direction: column;
        margin-top: 2rem;
    }

    .loginSendButtonCont button {
        margin-right: 0 !important;
        width: 100% !important;
        height: 2.25rem;
        border-radius: 1.125rem;
        margin-bottom: 1rem;
    }

    .loginRegisterCont {
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        justify-content: flex-start;
    }
    
    .loginRegisterText {
        font-size: var(--font-size-large);
        color: var(--text-gray-color-2);
        width: 40%;
        margin-right: 1rem;
    }

    .loginRegisterCont button {
        height: 1.75rem;
        border-radius: 0.875rem !important;
        border-color: var(--color-web-1);
        color: var(--color-web-1);
    }

    .loginRegisterCont button:hover {
        border-color: var(--color-web-1);
    }
}
