.productDetailsPortrait_cont {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height));
    z-index: 900;
    background-color: var(--bg-white);
    justify-content: space-between;
    overflow: hidden;
}

.productDetailsPortrait_backCont {      
    position: fixed;
    bottom: 100%;
    background-color: var(--bg-white);
    top: 0;
    left: 0;
    height: var(--navbar-height);
    width: 50%;
    justify-content: flex-start;
    padding-left: 1.5rem;
}

.productDetailsPortrait_backCont * {
    font-size: var(--font-size-xxLarge);
    font-family: var(--font-style-medium);
}

.productDetailsPortrait_backCont p {
    margin-left: 0.5rem;
}

.productDetailsPortrait_backCont span {
    font-size: 25px;
}

.productDetailsPortrait_quantityCont {
    width: 100%;
    height: 3rem;
    border-top: 1px solid var(--color-borders-light-gray);
    border-bottom: 1px solid var(--color-borders-light-gray);
}

.productDetailsPortrait_quantityCont div {
    width: 33.333%;
    height: 100%;
    font-size: var(--font-size-xxLarge);
}

.productDetailsPortrait_quantityButton {
    background-color: black;
    color: var(--text-light-color);
    user-select: none;
    cursor: pointer;
}

.productDetailsPortrait_priceCont {
    width: 100%;
    height: 5rem;
}

.productDetailsPortrait_priceCont div {
    width: 33.333%;
}

.productDetailsPortrait_price {
    font-size: 24px;
    font-family: var(--font-style-bold);
}

.productDetailsPortrait_download, .productDetailsPortrait_ws {
    height: 100%;
    aspect-ratio: 1/1;
}

.productDetailsPortrait_priceCont img {
    height: 65%;
    aspect-ratio: 1/1;
    filter: drop-shadow(0px 0px 0.5rem rgba(114, 114, 114, 0.514));
}

.productDetailsPortrait_descriptionCont {
    width: 100%;
    padding: 1rem var(--padding-horizontal-seccions-portrait);
}

.productDetailsPortrait_descriptionCont * {
    line-height: 1.5;
}

.productDetailsPortrait_descriptionText {
    font-size: var(--font-size-large);
}

.productDetailsPortrait_mainImgCont {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.productDetailsPortrait_mainImgSliderCont {
    justify-content: flex-start;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes productDetailNextImage {
    100%{
        transform: translateX(-100%);
    }
}

@keyframes productDetailPrevImage {
    100%{
        transform: translateX(100%);
    }
}

.productDetailsPortrait_mainImgCont {
    width: 100%;
    aspect-ratio: 1/1;
    padding: var(--padding-horizontal-seccions-portrait);
}

.productDetailsPortrait_mainImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDetailsPortrait_mainImg_indexsCont {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.productDetailsPortrait_mainImg_index {
    background-color: var(--text-gray-color);
    height: 7px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 8px;
    transition-duration: 0.25s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.productDetailsPortrait_mainImg_indexActive {
    background-color: var(--color-web-1);
    transform: scale(1.5);
}

.productDetailsPortrait_codeCont {
    width: 100%;
    height: 3rem;
    background-color: var(--navbar-color-portrait);
    justify-content: space-between;
    padding: 0 1rem;
    justify-self: flex-end;
}

.productDetailsPortrait_code {
    color: var(--text-light-color);
    font-size: var(--font-size-large);
}
