.homeJewelryCont {
    width: calc(100% - var(--login-height));
    height: var(--login-height);
    align-content: flex-start;
    overflow: hidden;
}

.homeJewelryImage {
    width: 120px;
    height: 120px;
    pointer-events: none;
}

.homeJewelryImageTurnOn {
    animation-name: homeJewelryImageTurnOn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes homeJewelryImageTurnOn {
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(180deg);
    }
}

.homeJewelryImageTurnOff {
    animation-name: homeJewelryImageTurnOff;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes homeJewelryImageTurnOff {
    0%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0);
    }
}

/************************ responseive 2ยบ sprint **************************/

@media only screen and (orientation: portrait) {
    .homeJewelryCont {
        display: none;
    }
}